<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="blackk">
    <%- include('../includes/navigation.ejs') %>
    <div></div>
    <div class="dd">Doctor Details :</div>
    <div class="main-doctor">
        <div class="doctor1">
            <div class="about">

            
            <div class="imgDoc"></div>
            <div class="aboutDoc">
                <h3>Full Name</h3>
                <p>
                    Designation:
                </p>
            </div>
        </div>
        <div class="timing">
            <h3>Timing Details:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quibusdam nostrum quisquam assumenda et sint delectus expedita quae illum possimus a, inventore dolorem?</p>
        </div>

        </div>
        <div class="doctor2">
            <div class="about">

            
            <div class="imgDoc"></div>
            <div class="aboutDoc">
                <h3>Full Name</h3>
                <p>
                    Designation:
                </p>
            </div>
        </div>
        <div class="timing">
            <h3>Timing Details:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quibusdam nostrum quisquam assumenda et sint delectus expedita quae illum possimus a, inventore dolorem?</p>
        </div>


        </div>
    </div>
</body>