<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="back">
        <!-- <img src="https://ibb.co/2srSb45" alt="" srcset=""> -->
        <div class="lastImg">
            <img src="https://www.linkpicture.com/q/WhatsApp_Image_2022-02-27_at_12.25.11-removebg-preview.png" alt="">
        </div>
        <h1>"BE INFORMED</h1>
        <br>
        <h2>BE RESPONSIBLE"</h2>
     <img src="https://i.postimg.cc/xdcJ32bV/Web-1920-1.png" alt="" srcset="">
    </div>
    
</body>
    
        
   