
<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="mainBlock">
    <div class="firstBlock">
        <h1>Hospitals:</h1>
        <form action="/doctors-details" class="pointDoc" method="POST">
            <div class="fb1" ><a href="/doctors-details">
                <!-- <button type="submit">submit</button> -->
                <h3>Hospital Name</h3>
                <p>Address</p>
            </a>
                
             </div>
        </form>
        
        <form action="/doctors-details" class="pointDoc" method="POST">
            <div class="fb1" ><a href="/doctors-details">
                <!-- <button type="submit">submit</button> -->
                <h3>Hospital Name</h3>
                <p>Address</p>
            </a>
                
             </div>
        </form>
        <form action="/doctors-details" class="pointDoc" method="POST">
            <div class="fb1" ><a href="/doctors-details">
                <!-- <button type="submit">submit</button> -->
                <h3>Hospital Name</h3>
                <p>Address</p>
            </a>
                
             </div>
        </form>
    </div>
    <div class="secondBlock">
        <form action="/doctors-details" class="pointDoc" method="POST">
            <div class="sb1" ><a href="/doctors-details">
                <!-- <button type="submit">submit</button> -->
                <h3>Hospital Name</h3>
                <p>Address</p>
            </a>
                
             </div>
        </form>
        <form action="/doctors-details" class="pointDoc" method="POST">
            <div class="sb1" ><a href="/doctors-details">
                <!-- <button type="submit">submit</button> -->
                <h3>Hospital Name</h3>
                <p>Address</p>
            </a>
                
             </div>
        </form>
        <form action="/doctors-details" class="pointDoc" method="POST">
            <div class="sb1" ><a href="/doctors-details">
                <!-- <button type="submit">submit</button> -->
                <h3>Hospital Name</h3>
                <p>Address</p>
            </a>
                
             </div>
        </form>
    </div>
</div>
</body>