<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="login">
        <div class="img1">
            <img src="https://www.linkpicture.com/q/outline_account_circle_black_24dp.png" alt="" srcset="">
            <h1>Hey Incharge!</h1>
        </div>
        <div class="form">
        <form action="/location" class="form2" method="POST">
            <input type="email" placeholder="Enter Your Email">
            <input type="password" placeholder="Enter Your password">
            <button class="btn1" type="submit">Sign Up</button>
        </form>
    </div>
    </div>
</body>