<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="grey">
    <%- include('../includes/navigation.ejs') %>
    <div class="order">
        <h1>Orders List:</h1>
        <table>
            <th>
            <tr class="oId">
                <th>Order ID</th>
                <th>Requsted On</th>
                <th>Recieved On</th>
                <th>Order Status</th>
            </tr>
            <tr class="de1">
                <th>12345</th>
                <th>Feb,21,2022</th>
                <th>Feb,22,2022</th>
                <th class="colour1">Recieved</th>
            </tr>
            <tr class="de2">
                <th>12345</th>
                <th>Feb,21,2022</th>
                <th>Feb,22,2022</th>
                <th class="colour2" >Pending</th>
            </tr>
            <tr class="de3">
                <th>12345</th>
                <th>Feb,22,2022</th>
                <th>Feb,22,2022</th>
                <th class="colour3">Not recieved</th>
            </tr>
        </th>
        </table>
    </div>
</body>