@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
::-webkit-scrollbar{
  display: none;
}


* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* ................................... */

.back{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: -22px -1px;
}
.lastImg{
  position: absolute;
  height: 37rem;
  transform: translate(74px, 70px);
  /* filter: drop-shadow(8px 4px 6px black); */
  animation: rotate linear 2s;

}
span{
  font-family: 'Montserrat', sans-serif;
  color: red;
}
.login{
  position: absolute;
    left: 41rem;
    top: 11rem;
}
.form2{

}
.colour1{
  color: lightgreen;
  
}
.colour2{
  color: yellow;

}
.colour3{
  color: purple;

}
.order h1{
  position: absolute;
    top: 93px;
    font-family: 'Montserrat', sans-serif;
    left: 34rem;
    color: #00688b;
    font-size: 37px;
}
.btn1{
  width: 143px;
    border-radius: 23px;
    /* background-color: white; */
    background-color: #03a89e;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  /* color: #00695c; */
  /* background: white; */
  border-radius: 16px;
  cursor: pointer;

}
.form2 input{
  height: 48px;
    width: 343px;
    margin: 32px -100px;
    display: block;
}
.img1 h1{
  left: -60px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.back h1{
  top: 14rem;
    color: white;
    font-size: 55px;
    left: 49rem;
    position: absolute;
    /* transition: width 1s linear 2s; */
    font-family: 'Montserrat', sans-serif;
}
/* @keyframes rotate {
  0%{
    transform: rotate(30deg);
  }  
  0%{
    transform: rotate(90deg);
  }  

  75%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  } */
  

/* .back h1:hover{
  width: 23rem;
} */
.back h2{
  top: 18rem;
    color: white;
    font-size: 58px;
    left: 47rem;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}
.back img{
    width: 100%;
    height: 92%;
}

.box{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 45rem; */
    /* background-image: url(https://i.postimg.cc/P5ff7pQ2/Map-01.png); */
    margin-left: 38rem;

}
.block{
    height: 50%;
    width: 50%;
    margin-top: -34rem;
    margin-left: -30rem;
    font-family: 'Montserrat', sans-serif;
}
.dd{
  text-align: center;
  /* text-decoration: underline; */
  height: 4rem;
  font-weight: 600;
  font-size: 44px;
  color: #5bb2ad;
  transform: translate(9px , 110px);
  background: #f1f1f1;
}
.main-doctor{

  display: flex;
  justify-content: space-between;
  margin: -45px 0px;

}
.main-doctor h3{
  color: #b20000;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
.doctor1{
  height: 23rem;
    /* border: 2px solid black; */
    width: 36rem;
    /* position: relative; */
    transform: translate(217px, 193px);
    font-family: 'Montserrat', sans-serif;
}
.about{
  display: flex;
    /* justify-content: revert; */
    margin: 27px 117px;
}
.timing{
  margin: 8px 27px;
  padding: 14px;
}
.doctor2{
  height: 23rem;
    width: 35rem;
    position: relative;
    transform: translate(-76px, 193px);
    /* border: 2px solid black; */
    font-family: 'Montserrat', sans-serif;
}
.imgDoc{
  height: 151px;
  width: 179px;
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  transform: translate(-72px, 12px);
}
.block img{
  transform: translate(-58px, 544px);
    height: 13rem;
    width: 88rem;
    
}
.size img{
  height: 70px;
}
.pointDoc{
  cursor: pointer;
}
.fb1 a{
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}
.sb1 a{
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}
#searchBar{
  height: 3rem;
    border-radius: 10px;
    width: 30rem;
    padding: 17px;
    align-items: center;
    padding-top: 17px;
    border: 2px solid #03a89e;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.heading{
  font-family: 'Montserrat', sans-serif;
    color: #474747;
    font-size: 24px;

}

.mainBlock{
  display: flex;
  width: 100%;
}
.mainBlock h1{
  padding-left: 6rem;
    color: steelblue;
    transform: translate(-65px, 3px);
    font-family: 'Montserrat', sans-serif;
}
.firstBlock{
  /* border: 2px solid red; */
    height: 465px;
    width: 40%;
    /* position: absolute; */
    margin: 96px 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.secondBlock{
  /* border: 2px solid rgb(217, 255, 0); */
  height: 466px;
  width: 40%;
  /* position: absolute; */
  transform: translate(10px, 59px);
  /* position: relative; */
  margin: 96px 30px;
  padding-top: 29rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 51px 29px;
  margin-top: 86px;
}
.fb1 h3{
  color: black;
    position: absolute;
    left: 21px;
    font-family: 'Montserrat', sans-serif;
}
.sb1 h3{
  color: black;
    position: absolute;
    left: 21px;
    font-family: 'Montserrat', sans-serif;
}
.fb1 p{
  color: #303030;
  position: absolute;
  top: 35px;
  left: 27px;
  font-family: 'Montserrat', sans-serif;
}
.sb1 p{
  color: #303030;
  position: absolute;
  top: 35px;
  left: 27px;
  font-family: 'Montserrat', sans-serif;
}
.fb1 {
  border-top: 2px solid rgb(245, 102, 102);
    border-right: 2px solid rgb(245, 102, 102);
    border-bottom: 2px solid rgb(245, 102, 102);
    border-left: 7px solid red;
    width: 398px;
    height: 96px;
    margin-left: 83px;
    position: relative;
    border-radius: 5px;
}
.sb1{
  padding: 0px 0px;
  border-top: 2px solid rgb(245, 102, 102);
    border-right: 2px solid rgb(245, 102, 102);
    border-bottom: 2px solid rgb(245, 102, 102);
    border-left: 7px solid red;
    width: 398px;
    height: 96px;
    position: relative;
    /* padding: 34px; */
    margin-left: 38px;
    border-radius: 5px;

}
.whole{
  display: flex;
    justify-content: space-between;
    /* width: 100%; */
    position: absolute;
    top: 179px;
    height: 532px;
}
.oId{
color: #999797;
}
.de1{
  background: white;
    position: relative;
    top: -17px;
    font-family: 'Montserrat', sans-serif;

}
.de2{
  background: white;
    position: relative;
    top: 2px;
}
.de3{
  background: white;
    position: relative;
    top: 17px;
}
.grey{
  background-color: #f3f3f3;
}
.order table{
  position: absolute;
    top: 8rem;
    left: 8rem;
    font-size: 31px;
    
    width: 67rem;

}
.order table th{
  padding: 33px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 23px;
}
.left{
  /* border: 2px solid green; */
    width: 59rem;
    position: absolute;
    height: 33rem;
}
.boxl1 a{
  text-decoration: none;
}
.boxl2 a{
  text-decoration: none;
}
.blackk{
  background-color: #5bb2ad;
}
.boxl3 a{ 
  text-decoration: none;
}
.boxl1 h2{
  color: #000000;
}
.boxl2 p{color: #545454;;}
.boxl3 p{color: #545454;}
.boxl1 p{
  color: #545454;
}
.boxl2 h2{color: #000000;}
.boxl3 h2{color: #000000;}
.right{
  /* border: 2px solid red; */
    /* width: 50%; */
    height: 45rem;
    background: #00688b;
    width: 44rem;
    position: absolute;
    top: -12rem;
    left: 52rem;
}
.right h4{
  position: absolute;
    top: 24rem;
    left: 13rem;
    font-size: 40px;
    color: white;
}
.right input{
  position: relative;
    top: 5rem;
    width: 254px;
    border-radius: 7px;
    left: 14rem;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.right a{
  position: absolute;
    top: 32rem;
    background: white;
    color: #00688b;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}
.boxl1{
  border: 2px solid #00688b;
  font-family: 'Montserrat', sans-serif;
  width: 532px;
  left: 135px;
  position: absolute;
}
.boxl2{
  border: 2px solid #00688b;
    width: 532px;
    left: 135px;
    top: 152px;
    position: absolute;
}
.boxl3{
  border: 2px solid #00688b;
  width: 532px;
  left: 135px;
  top: 324px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
}
.boxl1 h6{
  position: absolute;
    left: 26rem;
    top: 2rem;
    font-weight: 100;
    font-size: 21px;
    color: #545454;
}
.boxl2 h6{
  position: absolute;
    left: 26rem;
    top: 2rem;
    font-weight: 100;
    font-size: 21px;
    color: #545454;
}
.boxl3 h6{
  position: absolute;
    left: 26rem;
    font-family: 'Montserrat', sans-serif;
    top: 2rem;
    font-weight: 100;
    font-size: 21px;
    color: #545454;
}

/* ...................................... */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.searchBar{
  transform: translate(-17px, -22px);
}
.image img {
  height: 100%;
  transform: translate(-15rem, 7rem);
    height: 32rem;
    /* filter: brightness(0.5); */
    /* filter: drop-shadow(2px 4px 6px ); */
    color: #03a89e;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  /* background-color: #4682b4; */
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-15px, 38px);
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #00695c;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  /* color: #03a89e; */
  color: #f3f3f3;
  cursor: pointer;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #000000;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
